/.idea/
/box-im.iml
/im-server/im-server.iml
/im-platform/im-platform.iml
/im-client/im-client.iml
/im-common/im-common.iml

# 忽略所有target目录
target/

# Log file
*.log
# prod config
**/application-prod.yml

# prod config
im-platform/src/main/resources/application-prod.yml
im-server/src/main/resources/application-prod.yml

# local ide
.vscode/
